*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}

.content {
  display: grid;
  grid-template-areas: 'result details';
  gap:30px;
  align-items: end;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.content__details {
  grid-area: details;
  height: 100%;
  width: 100%;
}

.title {
  margin-bottom: 26px;
}

.content__list-container {
  height: 298px;
  overflow-y:scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
    height: 103px; 
    object-fit: cover;
    object-position: center;
}

.result {
  grid-area: result;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.result__video-container {
  height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__fieldset {
  border:none;
  flex-grow: 1; 
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent
{
  color: rgba(84, 80, 80, 1);
}
.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__video-card-title {
  overflow: auto;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  line-height: 16.2px;
  line-clamp:1;
}

.search-form__checkbox-list {
  display: flex;
  gap:39px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {

}

.search-form__textfield {
  background-color: transparent;
  font-size: 18px;
  color:rgba(255, 255, 255, 0.7);
  border-right:none;
  border-bottom: solid 1px rgba(255, 255, 255, 1);
  border-top: solid 1px rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}